body {
    text-align: center;
    font-size: x-large;
    background-image: url("https://th.bing.com/th/id/R.5d0db28d3af04995e9cd2613a3ab18de?rik=jjn%2bcDFm1Id7VA&riu=http%3a%2f%2fwww.thepoliticalsword.com%2fme_images%2fheroslider%2fAdobeStock_300680318.jpg&ehk=uxmqfBvDZ9hPEAZx74oHM8qwjRzA%2f8ncZmunVbw0CHE%3d&risl=&pid=ImgRaw&r=0");
    background-size: cover;
    color: white;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: darkgoldenrod;
    margin-top: 17%;
}

#message {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    width: 150px;
    height: 30px;
    background-color: darkgray;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
